<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Onest-SemiBold.ttf</string>
		<string>Onest-Regular.ttf</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We&apos;ll send you important notifications</string>
	<key>NSCameraUsageDescription</key>
	<string>This is necessary to identify your plants and diseases</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This is necessary to identify your plants and diseases</string>
	<key>NSLocationUsageDescription</key>
	<string>This is required to view the plants in your region</string>
</dict>
</plist>
